
<div class="container my-4" [ngClass]="{'blur cursorNull': !isSubMenuOpen}">
  <div class="row mb-1">
      <div class="col-md-6 my-3" *ngIf="elementContent !== 'products' && elementContent !== 'profile'
      && elementContent !== 'product-history'">
        <h5>{{elementContent | uppercase}}</h5>
      </div>
      <div class="col-md-6 my-3" *ngIf="elementContent == 'products'">
        <h5>{{"ALL PRODUCTS"}}</h5>
      </div>

      <!--Search Filter-->
      <div class="col-md-6 my-3 float-right" *ngIf="elementContent !== 'Payment'&& elementContent !== 'profile'&& elementContent !== 'product-history'">
        <form class="form">
          <label for="search">
              <input class="input" type="text" required="" placeholder="Search Items" id="search" [(ngModel)]="searchTerm" name="searchItem">
              <div class="fancy-bg"></div>
              <div class="search">
                  <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                      <g>
                          <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                      </g>
                  </svg>
              </div>
              <button class="close-btn" type="reset">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
              </button>
          </label>
      </form>
      </div>

      <div class="col-md-12 my-3" *ngIf="elementContent == 'profile'">
        <h5></h5>
      </div>
  </div>
  <!--Loading Animations-->
  <div class="row" id="loading"  *ngIf="isLoading && elementContent !== 'Payment'&& elementContent !== 'profile'&& elementContent !== 'product-history'">
      <div class="col-md-3">
          <div class="product-grid p-3">
           <div>
            <ngx-skeleton-loader appearance="circle" [theme]="{ width: '145px', height: '110px', 'border-radius': '5px' }">
            </ngx-skeleton-loader>
           </div>
           <div>
            <ngx-skeleton-loader
            [theme]="{
              width: '90px','border-radius': '0', height: '18px', 'margin-bottom': '10px', 'background-color': '#F2F2F2',
              'animation-duration': '2s'
            }"
          ></ngx-skeleton-loader>
           </div>
           <div>
            <ngx-skeleton-loader
            [theme]="{
              width: '200px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
              'animation-duration': '2s'
            }"
          ></ngx-skeleton-loader>
           </div>
           <div>
            <ngx-skeleton-loader
            [theme]="{
              width: '50px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
              'animation-duration': '2s'
            }"
          ></ngx-skeleton-loader>
           </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="product-grid p-3">
         <div>
          <ngx-skeleton-loader appearance="circle" [theme]="{ width: '145px', height: '110px', 'border-radius': '5px' }">
          </ngx-skeleton-loader>
         </div>
         <div>
          <ngx-skeleton-loader
          [theme]="{
            width: '90px','border-radius': '0', height: '18px', 'margin-bottom': '10px', 'background-color': '#F2F2F2',
            'animation-duration': '2s'
          }"
        ></ngx-skeleton-loader>
         </div>
         <div>
          <ngx-skeleton-loader
          [theme]="{
            width: '200px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
            'animation-duration': '2s'
          }"
        ></ngx-skeleton-loader>
         </div>
         <div>
          <ngx-skeleton-loader
          [theme]="{
            width: '50px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
            'animation-duration': '2s'
          }"
        ></ngx-skeleton-loader>
         </div>
        </div>
      </div>
    <div class="col-md-3">
      <div class="product-grid p-3">
       <div>
        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '145px', height: '110px', 'border-radius': '5px' }">
        </ngx-skeleton-loader>
       </div>
       <div>
        <ngx-skeleton-loader
        [theme]="{
          width: '90px','border-radius': '0', height: '18px', 'margin-bottom': '10px', 'background-color': '#F2F2F2',
          'animation-duration': '2s'
        }"
      ></ngx-skeleton-loader>
       </div>
       <div>
        <ngx-skeleton-loader
        [theme]="{
          width: '200px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
          'animation-duration': '2s'
        }"
      ></ngx-skeleton-loader>
       </div>
       <div>
        <ngx-skeleton-loader
        [theme]="{
          width: '50px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
          'animation-duration': '2s'
        }"
      ></ngx-skeleton-loader>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-grid p-3">
       <div>
        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '145px', height: '110px', 'border-radius': '5px' }">
        </ngx-skeleton-loader>
       </div>
       <div>
        <ngx-skeleton-loader
        [theme]="{
          width: '90px','border-radius': '0', height: '18px', 'margin-bottom': '10px', 'background-color': '#F2F2F2',
          'animation-duration': '2s'
        }"
      ></ngx-skeleton-loader>
       </div>
       <div>
        <ngx-skeleton-loader
        [theme]="{
          width: '200px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
          'animation-duration': '2s'
        }"
      ></ngx-skeleton-loader>
       </div>
       <div>
        <ngx-skeleton-loader
        [theme]="{
          width: '50px','border-radius': '0',height: '18px','margin-bottom': '10px','background-color': '#F2F2F2',
          'animation-duration': '2s'
        }"
      ></ngx-skeleton-loader>
       </div>
      </div>
    </div>
  </div>

    <div class="row"  *ngIf="!isLoading">
      <div class="col-md-3 col-sm-6" *ngFor="let item of cartItems | searchfilter:searchTerm">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
                <img class="pic-1 img-thumbnail" src="{{item.image}}">
            </a>
            <span class="product-discount-label" *ngIf="item.price > aspectdiscount">- {{discount}}%</span>
            <ul class="product-links">
                <li><a href="javascript:void(0)" data-tip="Like"><i class="fas fa-heart"></i></a></li>
                <li><a href="javascript:void(0)" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                <li><a href="javascript:void(0)" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
          <div class="product-content">
            <ul class="rating crop">
              <span *ngFor="let star of getStarClasses(item)">
                <i class="{{star}}" style="color:#78a206"></i>
              </span>
            </ul>
            <h3 class="title"><a href="#">{{ item?.title.length > 20 ? item?.title.substring(0,20) + " ..." : item?.title }}</a></h3>
            <div class="price">
              <span *ngIf="item.price > aspectdiscount">₹1500.00</span> ₹{{item?.price | number: '1.0-0'}}/-
            </div>
            <button class="add-to-cart" (click)="addedToCart(item)" [disabled]="!isSubMenuOpen">add to cart</button>
          </div>
        </div>
      </div>
      <!-- <div class="loading" *ngIf="isLoading">
        <app-loader></app-loader>
      </div> -->
    </div>

</div>
